
.password-strength {
    width: 100%;
    height: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 10px;
    display: none; /* Oculta la barra por defecto */
}

.progress-bar {
    width: 0;
    height: 100%;
    border-radius: 5px;
    transition: width 0.2s ease-in-out;
}

.multi-step {
    position: relative;
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  }
  
  #slider {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease;
  }
  
  /* Cada paso ocupa la mitad del slider */
  .slide {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    position: relative;   /* Añadido */
    min-height: 400px;    /* Ajusta según altura mínima deseada */
  }
  
  /* Radios */
  .choice-container {
    margin: 20px 0;
  }
  .choice-container label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  /* Formulario de importe inicialmente oculto */
  .money-form {
    display: none;
    margin-top: 20px;
        
  }

  /* Radios de tipo de importe */
.amount-type {
    margin-bottom: 15px;
  }
  .amount-type label {
    margin-right: 20px;
    cursor: pointer;
  }
  
  /* Dos columnas */
  .two-columns {
    display: flex;
    gap: 20px;
  }
  .two-columns .col {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .radio-inline {
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .two-columns .col input[type="number"] {
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  .col div label {
    top: 50%;
  }

  .col .input-container.error label {
    top: 37%;
  }

  /* Botones de navegación */
.nav-buttons {
    position: absolute;
    bottom: 20px;         /* Distancia desde la base del slide */
    left: 20px;           /* Ajusta márgenes horizontales */
    right: 20px;
    display: flex;
    justify-content: space-between;
    pointer-events: none; /* Evita que el contenedor capte clicks */ /* Evita que el contenedor capte clicks */
  }
  .nav-buttons input {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    pointer-events: auto;
  }
  #back {
    background: lightgray;
  }
  #createUser {
    background-color: var(--azulPrimario);
    color: white;
  }
  #createUser:hover {
    background-color: #2468cf;
  }

input:disabled {
  background: lightgray;
}

@media (max-width: 600px) {
  .multi-step {
    width: 100%;
  }

  .slide {
    padding: 20px;
  }

  .two-columns {
    flex-direction: column;
    gap: 10px;
  }

  .nav-buttons {
    left: 10px;
    right: 10px;
  }
}
